<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/task_list_styles.css' %}">
</head>

<body class="container">
    <h1 class="header">My To Do List</h1>
    
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Add Task</button>
    </form>

    <ul class="list">
        {% for task in tasks %}
        <li class="{% if task.completed %}completed{% endif %}">
            {{ task.title }}
            <a href="{% url 'edit_task' task.id %}">Edit</a> |
            <a href="{% url 'delete_task' task.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
